<!-- Footer -->
	<footer class="font-small blue pt-4 container-fluid footer sticky-footer" id="sticky-footer">
		<!-- Footer Links -->
		<div class="container-fluid text-center text-md-left">
			<!-- Grid row -->
			<div class="row">
				<!-- Grid column -->
				<div class="col-md-6 mt-md-0 mt-3">
					<!-- Content -->
					<div class="col-md-8">
						<form action="https://formdump.codeinstitute.net/" method="post" onsubmit="myFunction()">
							<h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
							<div class="input-group mt-4">
								<input type="email" id="email-address" class="form-control" placeholder="Enter your email" name="email-address" required> <span class="input-group-btn">
                                    <button class="btn btn-info no-border-radius" type="submit">Subscribe Now</button>
                                   
                                </span>
							</div>
						</form>
					</div>
					<div class="col-md-12 mt-3"> <small>
                            We strain to renew your capacity to wonder, our sweeping comprehensive range is certain to overpower you!
                        </small>
					</div>
				</div>
				<!-- Grid column -->
				<hr class="clearfix w-100 d-md-none pb-3">
				<!-- Grid column -->
				<div class="col-md-3 mb-md-0 mb-3">
					<!-- Links -->
					<h6 class="text-uppercase contact-details">Contact details</h6>
					<ul class="list-unstyled">
						<li> <small><i class="fas fa-home mt-3" aria-hidden="true"></i>&nbsp; 5 Rue Gustave-Revilliod, Les Acacias</small>
						</li>
						<li> <a class="link text-white" aria-label="Phone number" href="tel:+41-77-961-89-40"><small><i class="fas fa-phone mt-3"></i>&nbsp; +41-77-961-89-40</small></a>
						</li>
						<li> <a class="link text-white" aria-label="email" href="mailto:locatemarshal@gmail.com"><small><i class="fas fa-envelope mt-3"></i>&nbsp; locatemarshal@gmail.com</small></a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-3 mb-md-0 mb-3">
					<!-- Links -->
					<h6 class="text-uppercase mb-3 socials">Connect with us</h6>
					<ul class="list-unstyled social-links">
						<li><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit us on Facebook"><i class="fab fa-facebook-f mt-2" aria-hidden="true"></i></a>
						</li>
						<li><a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Visit us on Twitter"><i class="fab fa-twitter mt-2" aria-hidden="true"></i></a>
						</li>
						<li><a href="https://www.plus.google.com/" target="_blank" rel="noopener" aria-label="Visit us on Google"><i class="fab fa-google-plus-square mt-2" aria-hidden="true"></i></a>
						</li>
						<li><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit us on Instagram"><i class="fab fa-instagram mt-2" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			<p class="text-muted mb-3"><small>© Copyright 2020 | Theme by Marshal | All Rights Reserved |</small>
			</p>
		</div>
		<!-- Copyright -->
	</footer>