<div class="collapse main-nav navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <a href="{% url 'products' %}?category=chains" class="dropdown-item">Chains</a>
                <a href="{% url 'products' %}?category=leathers" class="dropdown-item">Leathers</a>
                <a href="{% url 'products' %}?category=pure_gold" class="dropdown-item">Pure Gold</a>
                <a href="{% url 'products' %}?category=chains,leathers,pure_gold" class="dropdown-item">All Collections</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="classics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="classics-link">
                <a href="{% url 'products' %}?category=chronograph_chronometer" class="dropdown-item">Chronograph &amp; Chronometer</a>
                <a href="{% url 'products' %}?category=hybrids" class="dropdown-item">Hybrids</a>
                <a href="{% url 'products' %}?category=sports" class="dropdown-item">Sports</a>
                <a href="{% url 'products' %}?category=chronograph_chronometer,hybrids,sports" class="dropdown-item">All Classics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Integral Fashion
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=ladies" class="dropdown-item">Ladies</a>
                <a href="{% url 'products' %}?category=men" class="dropdown-item">Men</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=ladies,men,accessories" class="dropdown-item">All Integrals</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-us-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>