{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Error 404
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-shadow title">Error 404 : Whoops!</h2>
            </div>
        </div>
    </div>
    <div class="container col-sm-12 col-md-6 offset-md-3 fade-in">
        <div class="row">
            <div class="col">
                <div class="card bg-transparent">
                    <div class="opaque"></div>
                    <div class="card-body text-white">
                        <p class="ehand-green-text">The page you are looking for does not exist anymore - just like my!
                            - please use the button below to return the Homepage. Or use one of the links above.
                        </p>
                        <a href="{% url 'home' %}" class="btn btn-light ml-2">Return to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}